<script src="/libs/katex/katex.min.js"></script>
<script src="/libs/katex/auto-render.min.js"></script>
<script>
  const options = {
    delimiters: [
      {left: "$$", right: "$$", display: true},
      // This next line is disabled because it is too much hassle to escape dollars correctly.
      // Pluto.jl doesn't use it since it converts to <span> tags.
      // Franklin.jl also doesn't use it since it converts to `\(` and `\)`.
      // {left: "$", right: "$", display: false},
      {left: "\\begin{equation}", right: "\\end{equation}", display: true},
      {left: "\\begin{align}", right: "\\end{align}", display: true},
      {left: "\\begin{alignat}", right: "\\end{alignat}", display: true},
      {left: "\\begin{gather}", right: "\\end{gather}", display: true},
      {left: "\\(", right: "\\)", display: false},
      {left: "\\[", right: "\\]", display: true}
    ]
  };

  document.addEventListener('DOMContentLoaded', function() {
    renderMathInElement(document.body, options);
  });
</script>
