<!-- clipboard.js -->
<script defer src="/libs/clipboard.min.js"></script>

<!-- highlight.js -->
<link rel="stylesheet" href="/libs/highlight/github.min.css">

<script defer src="/libs/highlight/highlight.min.js"></script>
<script defer src="/libs/highlight/julia.min.js"></script>
<script defer src="/libs/highlight/rust.min.js"></script>

<script defer>
    document.addEventListener('DOMContentLoaded', function() {
        hljs.highlightAll();
    });
</script>
